//- header.pug

nav.ui.stackable.menu.header-menu
  .item.logo
    img(src='/images/logo.png')
  a.item.brand(href='/') SLiMS.js
  a.item(href='/') Home
  a.item(href='/page/about') About
  a.item(href='/page/help') Help
  a.item(href='/signin') Sign In
