//- header.pug

nav.ui.stackable.menu.header-menu
  .item.logo
    img(src='/images/logo.png')
  a.item.brand(href='/') SLiMS.js
  a.item(class={active: path === undefined} href='/') Home
  a.item(class={active: path === 'libinfo'} href='/page/libinfo') About
  a.item(class={active: path === 'help'} href='/page/help') Help
  a.item(class={active: path === 'signin'} href='/signin') Sign In
