//- page.pug

extends layout

block content
  include header

  .ui.container.page
    .ui.grid
      .column.ten.wide
        h1.ui.header #{title}
        p
          != desc

      .column.six.wide
        p info
