//- admin/header.pug

.slims.header.ui.menu.borderless.top.fixed
  a.item.pr-0(href='/admin')
    img(src='/images/logo.png')
  .item.brand
    | SLiMS.js

  .right.menu.small.text
    .item My Account
    .item
      img.photo(src='/images/elliot.jpg')
    .item
      .hamburger
        .strip.one
        .strip.two
        .strip.three
