doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.admin.css')

    script(src='/js/jquery.min.js')
    script(src='/semantic/semantic.min.js')

  body(class='ui fluid container')

    include header
    .ui.grid.m-0

      .three.wide.column
        include sidebar

      .thirteen.wide.column
        block content

    script(src='/js/custom.js')
    script(src='/js/Chart.min.js')
    script(src='/js/admin.js')

    block script
