//- admin/sidebar.pug

.ui.vertical.menu.fluid
	.item
		.header.color.blue
			i.dashboard.icon
			| Dashboard
		.menu
			a.item Bibliography
			a.item Circulation
			a.item Membership
	.item
		.header.color.pink
			i.book.icon
			| Bibliography
		.menu
			a.item Collection Statistic
			a.item Title List
			a.item Item Title List
			a.item Items Usage Statistics
			a.item Custom Recapitulations
	|
	.item
		.header.color.yellow
			i.shop.icon
			| Circulation
		.menu
			a.item Loan Report
			a.item Loans by Classification
			a.item Loan List by Member
			a.item Loan History
			a.item Due Date Warning
			a.item Overdued List
			a.item Fines Report
	|
	.item
		.header.color.green
			i.user.icon
			| Membership
		.menu
			a.item Membership Report
			a.item Member List
			a.item Visitor Statistic
			a.item Visitor Statistic (by Day)
			a.item Visitor List
