// @Author: Waris Agung Widodo <ido>
// @Date:   2017-07-11T13:59:20+07:00
// @Email:  ido.alit@gmail.com
// @Filename: _header.scss
// @Last modified by:   ido
// @Last modified time: 2017-07-11T15:23:19+07:00

.ui {
  &.menu.header-menu {

    border-radius: 0px;

    .item {
      &.logo {
        padding-right: 0.5em;
        @include filter(brightness(0));
        &::before {
          background-color: transparent;
        }
      }
      &.brand {
        padding-left: 0.5em;
        font-size: 20px;
        &:hover {
          background-color: transparent;
        }
      }
    }
  }
}
