@import "compass/css3";

// import semantic-UI
@import "../semantic/semantic.min.css";

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f5f5f5;
}

a {
  color: #00B7FF;
}

.white {
  background-color: #fff;
}

// header
@import "header";
