@import "compass/css3";

// import semantic-UI
@import "../semantic/semantic.min.css";

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #fff;
  color: #7a7a7a;
}

a {
  color: #00B7FF;
}

.white {
  background-color: #fff;
}

// import other style
@import "header";
@import "page";
@import "search";
