@import url(../semantic/semantic.min.css);
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #fafafc;
  color: #7a7a7a;
}

a {
  color: #00B7FF;
}

.white {
  background-color: #fff;
}

html, body {
  height: 100%;
}

.h-100 {
  height: 100%;
}

.p-0 {
  padding: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.pl-1 {
  padding-left: 4px !important;
}

.pl-2 {
  padding-left: 8px !important;
}

.m-0 {
  margin: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.color.red {
  color: #db2828;
}
.color.teal {
  color: #00b5ad;
}
.color.orange {
  color: #f2711c;
}
.color.yellow {
  color: #fbbd08;
}
.color.olive {
  color: #b5cc18;
}
.color.green {
  color: #21ba45;
}
.color.blue {
  color: #2185d0;
}
.color.violet {
  color: #6435c9;
}
.color.purple {
  color: #a333c8;
}
.color.pink {
  color: #e03997;
}
.color.brown {
  color: #a5673f;
}
.color.grey {
  color: #767676;
}

.ui.slims.header {
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  -moz-box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 5px;
  border-radius: 0;
}
.ui.slims.header .item.brand {
  padding-left: 0.5em;
  font-size: 20px;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkMGY3NyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2FiNjRmNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #fd0f77), color-stop(100%, #ab64f6));
  background: -moz-linear-gradient(left, #fd0f77, #ab64f6);
  background: -webkit-linear-gradient(left, #fd0f77, #ab64f6);
  background: linear-gradient(to right, #fd0f77, #ab64f6);
  -moz-background-clip: text;
  -o-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.ui.slims.header .item.brand:hover {
  background-color: transparent;
}
.ui.slims.header .item:hover {
  background-color: #fff;
}
.ui.slims.header .item img.photo {
  border-radius: 50%;
}
.ui.slims.header .item .prompt.square {
  border-radius: 0;
}
.ui.slims.header .menu.small.text {
  font-size: 12px;
}

.hamburger {
  text-align: right;
}
.hamburger .strip {
  display: block;
  background: #999;
  height: 2px;
  border-radius: 1px;
  float: right;
  clear: both;
  margin: 2px;
  position: relative;
}
.hamburger .strip.one {
  width: 23px;
}
.hamburger .strip.two {
  width: 20px;
}
.hamburger .strip.two:before {
  content: ' ';
  display: inline-block;
  height: 2px;
  width: 4px;
  background: #999;
  border-radius: 1px;
  position: absolute;
  left: -6px;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.hamburger .strip.three {
  width: 18px;
}
.hamburger:hover .strip.two::before {
  left: -8px;
  background: teal;
}

.gradient {
  color: white;
}
.gradient.orange.-pink {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmODc1OCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmNjRhZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ff8758), color-stop(100%, #ff64ad));
  background-image: -moz-linear-gradient(left, #ff8758, #ff64ad);
  background-image: -webkit-linear-gradient(left, #ff8758, #ff64ad);
  background-image: linear-gradient(to right, #ff8758, #ff64ad);
  box-shadow: 0 2px 10px rgba(255, 100, 173, 0.5) !important;
}
.gradient.deep-purple.-blue {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhlNmNmMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwOWFkNCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #8e6cf1), color-stop(100%, #009ad4));
  background-image: -moz-linear-gradient(left, #8e6cf1, #009ad4);
  background-image: -webkit-linear-gradient(left, #8e6cf1, #009ad4);
  background-image: linear-gradient(to right, #8e6cf1, #009ad4);
  box-shadow: 0 3px 10px rgba(142, 108, 241, 0.5) !important;
}
.gradient.purple.-deep-purple {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YwNmJlYiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzhlNmNmMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #f06beb), color-stop(100%, #8e6cf1));
  background-image: -moz-linear-gradient(left, #f06beb, #8e6cf1);
  background-image: -webkit-linear-gradient(left, #f06beb, #8e6cf1);
  background-image: linear-gradient(to right, #f06beb, #8e6cf1);
  box-shadow: 0 3px 10px rgba(240, 107, 235, 0.5) !important;
}
.gradient.green.-blue {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJlZDJiZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwOWFkNCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #2ed2be), color-stop(100%, #009ad4));
  background-image: -moz-linear-gradient(left, #2ed2be, #009ad4);
  background-image: -webkit-linear-gradient(left, #2ed2be, #009ad4);
  background-image: linear-gradient(to right, #2ed2be, #009ad4);
  box-shadow: 0 3px 10px rgba(46, 210, 190, 0.5) !important;
}

.ui.cards > .card.gradient {
  border-radius: 3px;
}

.ui.cards > .card.gradient,
.ui.cards > .card.gradient:hover {
  box-shadow: none;
}

.card.gradient {
  overflow: hidden;
}
.card.gradient .content .header {
  color: white;
}
.card.gradient .content .title {
  margin-bottom: 12px;
  text-transform: uppercase;
  font-size: 10px;
}
.card.gradient .content .value {
  font-size: 32px;
}
.card.gradient .content .sub {
  margin-top: 6px;
  font-size: 10px;
}
.card.gradient .content .sub span {
  margin-right: 8px;
}
.card.gradient .content .sub span .icon {
  margin-left: 2px;
}
.card.gradient .illustration {
  position: absolute;
  right: -30px;
  bottom: -20px;
  opacity: .3;
}
.card.gradient .illustration .icon {
  font-size: 102px;
}
